<!DOCTYPE html>
<html>

<head>
    <title>Lillian</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style.css" />
</head>

<body>
    <button class="button" onclick="started()" ondblclick="stopped()">Lilly's Confetti</button>
</body>

<script>
    const start = () => {
        setTimeout(function (string) {
            confetti.start();
        }, 1000);
    };
    const stop = () => {
        setTimeout(function (string2) {
            confetti.stop();
        }, 5000);
    };   
    function started() {
        var x = document.createElement(start());        
        document.body.appendChild(x);
    }
    function stopped() {
        var x = document.createElement(stop());        
        document.body.appendChild(x);
    }
</script>

<script src="server.js"></script>
<script src="../public/confetti.js"></script>

</html>